@model LibraryManagementSystem.Domain.Author
@{
    Layout = "_Layout";
}

<h1>Add Author</h1>

@* DO NOT MODIFY ABOVE THIS LINE *@

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label>Books</label>
        <p class="text-muted">Books will be associated after creation through other features.</p>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">Add Author</button>
        <a asp-action="Authors" class="btn btn-secondary">Cancel</a>
    </div>
</form>

@* DO NOT MODIFY BELOW THIS LINE *@

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
