@model IEnumerable<LibraryManagementSystem.Domain.Author>
@{
    Layout = "_Layout";
}

<h1>Authors</h1>

@* DO NOT MODIFY ABOVE THIS LINE *@

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Books</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" class="text-center">No authors found.</td>
            </tr>
        }
        else
        {
            foreach (var author in Model)
            {
                <tr>
                    <td>@author.Name</td>
                    <td>@author.BooksToString()</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@author.Id" class="btn btn-primary btn-sm">Edit</a>
                        <form asp-action="Delete" asp-route-id="@author.Id" method="post" style="display:inline;">
                             <button type="submit" class="btn btn-danger">Delete</button>
                        </form>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-success">Add New Author</a>

@* DO NOT MODIFY BELOW THIS LINE *@
